
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nodeFlow{
    @apply bg-white rounded-lg text-sm py-2 px-6 border-t border-r border-l border-gray-300 flex items-center
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-bg{
  background-color: #c70000 !important;
  box-shadow: 0 1px 10px rgb(130 130 134 / 10%);
}
